# Prerequisites & Compiles
*.d
*.o
*.obj
*.gch
*.pch

# Built Executables & Static/Dynamic Binaries
*.exe
*.dll
*.so
*.dylib
*.a
*.lib

# Generated Libraries & Headers
lib/
include/p2p_engine.h

# CMake & Local Build Outputs
build/
CMakeCache.txt
CMakeFiles/
CMakeCheckOutputs/
Makefile
cmake_install.cmake

# IDEs & Editors Configuration
.vs/
Out/
.vscode/
.idea/

# Environment configurations & Secrets
.env
*.user

# Project Specific Ignored Folders & Files
Core_Foundation/
Version.txt